.icono {

  width: 64px;
  height: 64px;

  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-size: cover !important;

  border-radius: 50%;

}

table {
  td {
    vertical-align: middle;
  }
}
