<div class="container">

  <!-- CAJA PARA MOSTRAR LOS ERRORES -->
  <app-message-box *ngIf="mostrarError()" [errors]="mensajeError()"></app-message-box>

  <!-- CONTENEDOR CON EL BUSCARDOR Y EL LISTADO -->
  <div *ngIf="!mostrarError()">

    <div class="row">
      <div class="col-12">
        <h1>Brastlewark</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <app-search-box
          [showReset]="mostrarReset"
          [placeholder]="placeHolder"
          (buscar)="iniciarBusqueda($event)">
        </app-search-box>
      </div>
    </div>

    <div id="fichaGnomo">
      <app-gnome-info
        *ngIf="mostrarFichaGnomo"
        [gnome]="gnomoFicha"
        (close)="cerrarFicha()">
      </app-gnome-info>
    </div>

    <app-list-table
      *ngIf="totalRegistros"
      [columns]="columnasListado"
      [data]="listado"
      [orderColumn]="campoOrden"
      [title]="tituloTabla"
      [actions]="accionesListado"
      (execute)="mostrarFicha($event)"
      orderType="ASC">
    </app-list-table>

    <div class="row"
      *ngIf="totalRegistros">
      <div class="col-12">
        <ngb-pagination
          class="d-flex justify-content-center"
          [collectionSize]="totalRegistros"
          [(page)]="pagina"
          size="sm"
          [maxSize]="numeroPaginas"
          [ellipses]="paginacionElipse"
          [boundaryLinks]="paginacionInicioFin"
          (pageChange)="cambiaPagina($event)">
        </ngb-pagination>
      </div>
    </div>

    <!-- CAJA PARA MOSTRAR CUANDO LA BUSQUEDA NO DA RESULTADOS -->
    <app-message-box *ngIf="mostrarNoResultados()" [errors]="mensajeError()"></app-message-box>

  </div>

</div>

